
  
table{
    width: 90vw;
    height: 60vh; 
    margin: 0 auto;
    margin-top: 100px;
    
    
   
}
tr,td{
    border:2px black solid;
    border-radius: 10%;
    text-align: center;
    max-width: 0px;
    transition: all 0.2s;
}
td:hover{
    transform: scale(2);
    background-color: seashell;
}


/*First row*/
table tr:first-child :first-child{
    background-color: yellow;
}
table tr:first-child :nth-child(n+2):nth-child(-n+17){
    border: none;
}
table tr:first-child :last-child{
    background-color: fuchsia;
}
/*Second row*/
table tr:nth-child(2) :first-child{
    background-color: blue;
}
table tr:nth-child(2) :nth-child(2){
    background-color: burlywood;
}
table tr:nth-child(2) :nth-child(n+3):nth-child(-n+12){
    border: none;
    background-color: white;
}
table tr:nth-child(2) :nth-child(13){
    background-color:coral;
}
table tr:nth-child(2) :nth-child(14),
table tr:nth-child(2) :nth-child(15),
table tr:nth-child(2) :nth-child(16){
    background-color: yellow;

}
/*Third Row*/
table tr:nth-child(3) :first-child{
    background-color: blue;
}
table tr:nth-child(3) :nth-child(2){
    background-color: burlywood;
}
table tr:nth-child(3) :nth-child(n+3):nth-child(-n+12){
    border: none;
    background-color: white;
}
table tr:nth-child(3) :nth-child(13){
    background-color:lightpink;
}
table tr:nth-child(3) :nth-child(14){
    background-color:coral;
}
table tr:nth-child(3) :nth-child(15),
table tr:nth-child(3) :nth-child(16){
    background-color:yellow;
}
/*Fourth Row*/
table tr:nth-child(4) :first-child{
    background-color: blue;
}
table tr:nth-child(4) :nth-child(2){
    background-color: burlywood;
}
table tr:nth-child(4) :nth-child(n+3):nth-child(-n+12){
    background-color:green;
}
table tr:nth-child(4) :nth-child(13){
    background-color:lightpink;
}
table tr:nth-child(4) :nth-child(14),
table tr:nth-child(4) :nth-child(15){
    background-color:coral;
}
table tr:nth-child(4) :nth-child(16){
    background-color:yellow;
}
/*Fifth Row*/
table tr:nth-child(5) :first-child{
    background-color: blue;
}
table tr:nth-child(5) :nth-child(2){
    background-color: burlywood;
}
table tr:nth-child(5) :nth-child(n+3):nth-child(-n+12){
    background-color:green;
}
table tr:nth-child(5) :nth-child(13),
table tr:nth-child(5) :nth-child(14){
    background-color:lightpink;
}
table tr:nth-child(5) :nth-child(15),
table tr:nth-child(5) :nth-child(16){
    background-color:coral;
}
/*Sixth Row*/
table tr:nth-child(6) :first-child{
    background-color: blue;
}
table tr:nth-child(6) :nth-child(2){
    background-color: burlywood;
}
table tr:nth-child(6) :nth-child(n+4):nth-child(-n+12){
    background-color:green;
}
table tr:nth-child(6) :nth-child(13),
table tr:nth-child(6) :nth-child(14),
table tr:nth-child(6) :nth-child(15){
    background-color:lightpink;
}
table tr:nth-child(6) :nth-child(16){
    background-color:coral;
}
/*Seventh Row*/
table tr:nth-child(7) :first-child{
    background-color: blue;
}
table tr:nth-child(7) :nth-child(2){
    background-color: burlywood;
}
table tr:nth-child(7) :nth-child(n+4):nth-child(-n+12){
    background-color:green;
}
table tr:nth-child(7) :nth-child(13),
table tr:nth-child(7) :nth-child(14){
    background-color:lightpink;
}
table tr:nth-child(7) :nth-child(15){
    background-color:coral;
}
table tr:nth-child(7) :nth-child(16){
    background-color:fuchsia;
}
tr:nth-child(7) :nth-child(17){
    background-color:blue;
}
tr:nth-child(7) :nth-child(18){
    background-color:burlywood;
}

/*Eighth row*/
table tr:nth-last-child(2),
table tr:nth-child(6) :nth-child(3){
    background-color: rgba(124, 216, 211);
}
table tr:nth-last-child(2) :first-child,
table tr:nth-last-child(2) :last-child,
table tr:nth-last-child(2) :nth-last-child(2),
table tr:nth-last-child(2) :nth-last-child(3){
    background-color: white;
    border: none;
}
/*Nineth row*/
table tr:last-child{
    background-color: red;
}
table tr:nth-child(7) :nth-child(3){
    background-color: turquoise;
}
table tr:last-child :first-child,
table tr:last-child :last-child,
table tr:last-child :nth-last-child(2),
table tr:last-child :nth-last-child(3){
    background-color: white;
    border: none;
}
/*Orange Columns*/
table tr td:nth-child(17) {
    background:orange;
} 
/*Fuchsia Columns*/
table tr td:nth-child(18) {
    background:fuchsia;
} 
#f{
    background-color: white;
}



/* table tr:last-child :first-child,
table tr:last-child :last-child,
table tr:last-child :nth-last-child(2),
table tr:last-child :nth-last-child(3),
table tr:nth-child(2) :nth-child(n+3):nth-child(-n+12),
table tr:nth-child(3) :nth-child(n+3):nth-child(-n+12),
table tr:nth-last-child(2) :first-child,
table tr:nth-last-child(2) :last-child,
table tr:nth-last-child(2) :nth-last-child(2),
table tr:nth-last-child(2) :nth-last-child(3){
    background-color: white;
    border: none;
} */

